<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.ui.labeledslider.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
</head>
<body>
    <div class="page-header">
        <h2>Clickstream Visualization for MOOCs <small>Functional Programming Principles in Scala</small></h2>
    </div>
    {% include "nav.html" %}
    {% block content %}{% endblock %}
    {% block footer %}
    <div class="clear_both"></div>
    <div class='page-footer'>
        <hr>
        <span class="left" style="line-height:50px;">CEDE-CHILI Lab</span>
        <img src="{{ STATIC_URL }}img/epfl_med.png" height="50" class="right">
        <div class="clear_both"></div>
    </div>
    {% endblock %}
</body>
</html>
