{% extends "base.html" %}

{% block title %}Visualization per lecture video{% endblock %}

{% block content %}
<div class="page-title">
	<h2>Statistics of all lectures for users</h2>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<div class="dashboard-container">
	<p class="page-description">
		This visualization shows the general trend of each user's activities throughout the entire course. Displayed users can be chosen by inputted <i>eventing_user_id</i> or a combination of available indicators based on event type and playback rate.
	</p>
	<div class="left">
		<b>Choose indicator:</b>
		<select id='select_indicator' name='indicator_q' class="form-control inline-select">
			{% for a in events %}
				<option value="{{ a }}">{{ a }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="right">
		<b>Choose playback rate:</b>
		<div class="toggle-btn-grp joint-toggle" style="display:inline;">
			{% for a in rates %}
				<label onclick="" class="toggle-btn {% if a == playrate_q %}success{% endif %} achievement">
					<input type="radio" class="visuallyhidden" name="playrate_q" value="{{ a }}" {% if a == playrate_q %}checked{% endif %}>{{ a }}
				</label>
			{% endfor %}
		</div>
	</div>
	<div class="clear_both"></div>
	<b>OR</b><br><br>
	<div class="left">
		<label for="user_id">User</label>:
		<input type="text" class="form-control" id="user_id" placeholder="Enter eventing_user_id" style="width:400px;display:inline;">
		<button id="search_user_btn" class="btn btn-default">Search</button>
		<span class="error hidden">User not found!</span>
	</div>
	<div class="right">
		<div class="toggle-btn-grp joint-toggle" style="display:inline;">
			<label onclick="" class="toggle-btn success">
				<input type="radio" class="visuallyhidden" name="screen" value="full" checked>Full screen
			</label>
			<label onclick="" class="toggle-btn">
				<input type="radio" class="visuallyhidden" name="screen" value="scaled">Extended screen
			</label>
		</div>
	</div>
</div>
<div class="vis-container">
	<div id="container" style="width: 600px; height: 400px; margin: 0 auto;"></div>
</div>
<script src="{{ STATIC_URL }}js/data_lectures_by_user.js"></script>
<script src="{{ STATIC_URL }}js/lectures_by_user.js"></script>
{% endblock %}
