<div class="collapse navbar-collapse">
	<ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		<li><a href="/lectures/">Overview of lectures</a></li>
		<li><a href="/per-lecture">Seek events by lecture</a></li>
		<li><a href="/lectures/users/">Overview of selected learners</a></li>
		<li><a href="/per-user">Clickstream by individual learner</a></li>
		<!-- <li><a href="/map">Geographical map</a></li> -->
		<!-- <li><a href="/upload-slides">Upload slides data</a></li> -->
		<li><a href="/admin" target="_blank">Admin page</a></li>
	</ul>
</div>
