<div class="collapse navbar-collapse">
	<ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		<li><a href="/lectures/">Overview of lectures</a></li>
		<li><a href="/per-lecture">Clickstream by lecture</a></li>
		<li><a href="/lectures/users/">Overview of most active learners</a></li>
		<li><a href="/per-user">Clickstream by individual learner</a></li>
		<li><a href="/map">Geographical map</a></li>
		<li><a href="/upload-slides">Upload slides data</a></li>
		<li><a href="/admin" target="_blank">Admin page</a></li>
	</ul>
</div>
<!-- 
<div id="nav">
	<a href="/">Home</a> |
	<a href="/lectures/">Summary table of all lectures</a> |
	<a href="/per-lecture">View clickstream by lecture</a> |
	<a href="/lectures/users/">Summary table of users</a> |
	<a href="/per-user">View single user clickstream</a> |
	<a href="/upload-slides">Upload slides data</a> |
	<a href="/upload-clickstream">Upload clickstream data</a> |
	<a href="/map">Map</a> |
	<a href="/admin" target="_blank">Admin page</a>
</div> -->