<div id="nav">
	<a href="/">Home</a> |
	<a href="/lectures/">Summary table of all lectures</a> |
	<a href="/per-lecture">View clickstream by lecture</a> |
	<a href="/lectures/users/">Summary table of users</a> |
	<a href="/per-user">View single user clickstream</a> |
	<a href="/upload-slides">Upload slides data</a> |
	<a href="/upload-clickstream">Upload clickstream data</a> |
	<a href="/map">Map</a> |
	<a href="/admin" target="_blank">Admin page</a>
    <!-- You are in: {{ current_section }} -->
</div>