{% extends "base.html" %}

{% block title %}Visualization per lecture video{% endblock %}

{% block content %}
<div id='per_user'>
<h2>Visualization per lecture video by user</h2>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<form id='#search_form' method='get'>
	<select id='lecture_q' name='lecture_q'>
		{% for l in lecture_list %}
			<option value="{{ l }}" {% if l == lecture_q %}selected{% endif %}>Lecture {{ l }}</option>
		{% endfor %}
	</select>
	User: <input id='user_q' name='user_q' type='text' size="60" value="{{ user_q }}" />
	<input name='seq_q' type='radio' value="slide_seq" {% if seq_q == "slide_seq" %}checked{% endif %} /> By slide
	<input name='seq_q' type='radio' value="time_seq" {% if seq_q == "time_seq" %}checked{% endif %} /> By time sequence
	<br>
	Choose indicator:
	<select id='select_indicator' name='indicator_q'>
	</select>
	<input id='search' value='Search' type='submit' />
</form>
<div id='indicator_option' class='indicator_option invisible'></div>
<div id="vis">Please choose options to display</div>
<script src="{{ STATIC_URL }}js/per_user.js"></script>
</div>
{% endblock %}