{% extends "base.html" %}

{% block title %}Visualization per lecture video{% endblock %}

{% block content %}
<div class="page-title">
	<h2>Visualization per lecture video by user</h2>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<div class="dashboard-container">
	<p class="page-description">
		Here the concept of navigation trace is applied to explain the historical activities of each user. The Markov chain is specifically visualized for each user with an extended scope of all possible events: forward and backward seeks (either independently or sequentially), pauses, and ratechanges (either up or down).<br>
		<!-- The input is eventing user id which is unique for each user. We can either enter it directly into the text box (if we know the eventing user id), or choose a user based on available combined indicators. An indicator consists of two criteria: event (seeks, forward seeks, backward seeks, pauses, ratechanger) and playback rate (ranging from 0.5 to 2.0). The top ten users with the highest number of events would be returned for each indicator.<br>
		Furthermore, there are two options that allow displaying state order in different sequences: by time sequence in the video lecture (so that a physical slide might repeat in multiple states if the teacher goes back; e.g. slide 3, slide 3B, slide 3C, etc.), and by slide order in the PowerPoint slides. The user information panel is also useful for analyzing learning statistics (userclass, final grade and achievement) of the user being analyzed. -->
	</p>
	<form id='search_form' method='get'>
		<select id='lecture_q' name='lecture_q' class="form-control inline-select left">
			{% for l in lecture_list %}
				<option value="{{ l }}" {% if l == lecture_q %}selected{% endif %}>Lecture {{ l }}</option>
			{% endfor %}
		</select>
		<div class="left" style="margin-left:30px;">
			User:
			<input id='user_q' name='user_q' type='text' size="60" value="{{ user_q }}" style="height:34px;" />
		</div>
		<input name='seq_q' type='radio' value="slide_seq" style="margin-left:30px;" {% if seq_q == "slide_seq" %}checked{% endif %} /> By slide
		<input name='seq_q' type='radio' value="time_seq" {% if seq_q == "time_seq" or not seq_q %}checked{% endif %} /> By time sequence
		<input id='search' value='Search' type='submit' class="btn btn-primary" style="margin-left:30px;" />
		<div class="clear_both" style="margin-bottom:20px;"></div>
	</form>
	<b>OR</b><br>
	<div>
		<div class="left">
			Choose indicator:
			<select id='select_indicator' name='indicator_q' class="form-control inline-select">
				<option value="">Please choose an indicator to show</option>
			</select>
		</div>
		<!-- <div class="right">
			Choose playback rate:
			<div class="toggle-btn-grp joint-toggle" style="display:inline;">
				{% for a in rates %}
					<label onclick="" class="toggle-btn {% if a == playrate_q %}success{% endif %} achievement">
						<input type="radio" class="visuallyhidden" name="playrate_q" value="{{ a }}" {% if a == playrate_q %}checked{% endif %}>{{ a }}
					</label>
				{% endfor %}
			</div>
		</div> -->
		<span class="left" style="line-height:25px;margin-left:50px;">Result:</span>
		<div id='indicator_option' class='left indicator_option'></div>
		<div class="clear_both"></div>
	</div>
	<div class="left" style="position:relative;width:500px;">
		<button id="user_info_btn" class="btn btn-info" style="margin-top:40px;">User information</button>
		<div id="user_info" class="user_info">
			<!-- Country: <span id="user_country"></span><br> -->
			Userclass: <span id="user_class"></span><br>
			Grade: <span id="user_grade"></span><br>
			Achievement: <span id="user_achievement"></span>
		</div>
	</div>
	<div class="right">
		<button id="toggle_legend" class="btn btn-info" style="margin-top:40px;">Toggle legend</button>
		<img id="legend_img" src="{{ STATIC_URL }}img/explanation2.png" style="display:none;position:absolute;right:0;z-index:1;" width="500">
	</div>
</div>
<div class="clear_both"></div>
<div id="vis" style="position:relative;">Please choose options to display</div>
<script src="{{ STATIC_URL }}js/data_indicators.js"></script>
<script src="{{ STATIC_URL }}js/per_user.js"></script>
{% endblock %}
