.visualization, .container {
  position: relative;
  float: left;
  margin-bottom: 20px;
}

.visualization {
  width: 1300px;
  border: 5px solid black;
  min-height: 720px;
}

.dashboard {
  display: inline;
  margin-left: 10px;
}

.search_form, .slider {
  float: left;
  margin-right: 100px;
}

#level_slider {
  width: 500px !important;
  font-size: 12px;
}

.show_option {
  line-height: 50px;
}

.slide {
  position: absolute;
  border: 3px solid black;
  left: 50px;
  bottom: 20px;
  width: 410px;
  height: 220px;
  margin: 0;
}

.slide_name {
  position: absolute;
  left: 460px;
  bottom: 20px;
  width: 200px;
  height: 220px;
  margin: 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.slide img {
  width: 400px;
  height: 210px;
}

.bars {
  position: absolute;
  border: 3px solid black;
  left: 650px;
  bottom: 20px;
  width: 600px;
  height: 220px;
  margin: 0;
  font-size: 16px;
  color: red;
  padding: 10px 0 0 10px;

}

.bars .barchart {
  width: 550px;
  height: 100px;
  margin-top: 5px;
}

.bars .throughput {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.x.axis path {
  display: none;
}

.node {
  stroke: #888;
  stroke-width: 2px;
  box-shadow: 3px 3px 2px #888;
}

.link {
  stroke: slategray;
  stroke-opacity: 0.2;
  fill: none;
  stroke-width: 1.5px;
}

.legend {
  position: absolute;
  top: 30px;
  left: 1180px;
  width: 100px;
  height: 70px;
  background: #ffffff url("/static/img/legend.png") no-repeat;
  background-size: contain;
}

#compare-dialog {
  font: 10px sans-serif;
}

#slide-dialog {
  opacity: 1;
}

#slide-dialog .slide-dialog {
  width: 100%;
  height: 100%;
}

/* line chart of throughput */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* bar chart of go straight in modal */
.gostraight_chart {
  background: #b0e0f8;
  margin: 5px;
}
 
.gostraight_chart rect {
  stroke: white;
  fill: steelblue;
}
 
.gostraight_chart text {
  fill: white;
}
 
.gostraight_chart text.name {
  fill: #000;
}
 
.gostraight_chart line {
  stroke: #c1c1c1;
}
 
.gostraight_chart .rule {
  fill: #000;
}
 
/* removed the while stroke as we don't need it anymore */
.gostraight_chart rect {
  stroke: none;
}
 
/* a bit of hovering effect for each bar */
.gostraight_chart rect:hover {
  fill: #64707D;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear_both {
  clear: both;
}

.invisible {
  display: none;
}

.tooltip {                   /* set the CSS for tooltip divs */
  position: absolute;         /* reference for measurement */
  text-align: center;         /* align the text to the center */
  width: 300px;                    /* set the width of the rectangle */
  height: 180px;                   /* set the height of the   rectangle */
  padding: 2px;                   /* set a border around the rectangle */
  font: 12px sans-serif;      /* set the font type for the tooltips */
  background: #fff; /* set the colour of the rectangle */
  border: 0px;                    /* turn off the border (0px) */
  pointer-events: none;           /* 'none' tells the mouse to ignore the rectangle */
  z-index: 10;
  top: 0;
}

.indicator_option {
  border: 3px solid #666;
  padding: 10px;
  margin: 0 50px;
}

.userclass_options {
  margin: 20px 100px 20px 0;
}

.achievement_options {
  margin: 20px 0;
}

.user_info {
  display: none;
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: #ccc;
  z-index: 1;
}

/* toggle button */
.toggle-btn-grp { 
    margin: 3px 0; 
}
.toggle-btn { 
    text-align: centre; 
    margin: 5px 2px;
    padding: 0.4em 3em; 
    color: #000; 
    background-color: #fff; 
    border-radius: 10px; 
    display: inline-block; 
    border: solid 1px #ccc;
    cursor: pointer;
}

.toggle-btn-grp.joint-toggle .toggle-btn { 
    margin: 5px -2px; 
    padding: 0.4em 2em; 
    border-radius: 0;
}
.toggle-btn-grp.joint-toggle .toggle-btn:first-child { 
    margin-left: 2px; 
    border-radius: 10px 0px 0px 10px; 
}
.toggle-btn-grp.joint-toggle .toggle-btn:last-child { 
    margin-right: 2px;  
    border-radius: 0px 10px 10px 0px;
    border-right: solid 1px #ccc;
}


.toggle-btn:hover { 
    border:solid 1px #a0d5dc; 
    background:#f1fdfe;
}


.toggle-btn.success { 
    background: lightgreen;
    border: solid 1px green; 
}

.toggle-btn.achievement.success { 
    background: orange;
    border: solid 1px orange; 
}

.toggle-btn.disabled {
    background: #ccc !important;
    border: solid 1px #ccc !important;
}

.visuallyhidden { 
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px; 
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { 
    clip: auto; 
    height: auto; 
    margin: 0; 
    overflow: visible; 
    position: static; 
    width: auto; 
}

/* end toggle button */

.page-footer, .page-title {
  margin: 10px 100px;
}

.page-header {
  margin: 0;
  padding: 20px 120px;
  background-color: black;
}

.page-header h2 {
  color: red;
  margin-top: 0;
}

p.page-description {
  color: #999;
  padding-left: 20px;
  border-left: double #aaa 5px;
}

.navbar-collapse {
  background-color: black;
  padding: 0 100px;
}

.navbar-collapse a {
  color: #ffffcc;
}

.navbar-collapse a:hover {
  color: #333;
}

.dashboard-container {
  margin: 20px 100px;
}

.inline-select {
  width: 300px;
  display: inline;
}

.vis-container {
  overflow: auto;
  margin: 50px;
}

.error {
  color: red;
}